
<form class="col-md-5 col-xs-12" action="/results" method="get">
  <div class="form-group">
    <label for="change">Enter the amount of cents needed.</label>
    <input id="change" type="number" name="change" min="1" max="99" required class="form-control">
  </div>

<button type="submit" class="btn btn-info">What's the fewest coins?</button>
</form>
